body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
#sketch-container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height:500px;
    border: 1px black;
    border-style: solid;

    
}

#sketch-container > div{
    flex: 1 0 100%;
}
#header{
    display: flex;
    align-items: center;
    font-size: 64px;
    font-family: 'Pangolin', cursive;
    flex: 1 1 100%;
}
#footer{
    display: flex;
    font-size: 18px;
    align-items: center;
    font-family: 'Pangolin', cursive;
    flex: 1 1 100%;
}
#container{
    display: flex;
}
#color-wheel{
    background-color: transparent;
    width: 100px;
    height: 100px; 
    border-radius: 50%;
    appearance: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#color-wheel::-webkit-color-swatch {
    border-radius:50%;
    border: 5px solid lightgray;
}
#color-wheel::-moz-color-swatch{
    border-radius:50%;
    border: 5px solid lightgray;
}
#clear{
    width: 100px;
    height: 25px;
    background-color: transparent;
    border: 1px solid black;
}

/*toggle*/

.toggle{
    background-color: lightgray;
    width: 60px;
    height:32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

#Grid{
    display: none;
}
.slider{
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 16px;
    margin: 4px;
}

#Grid:checked + .toggle {
    background-color: #2196F3;
}

#Grid:checked + .toggle > .slider{
    align-self: flex-end;
}

.toggle-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.col{
    flex-basis: 100%;
    border: 1px lightgray;
}
